- ride_request ||= @ride_request

%h1 Confirmation

= translate :ride_request_success

- semantic_fields_for ride_request do |read_only|
  - read_only.inputs "Your Info" do
    - read_only_params = { :as => :string, :hint => '', :required => false, :input_html => { :class => 'read-only', :disabled => 'disabled'}}
    = read_only.input :pickup_at, read_only_params.dup #dup required, formtastic adjusts params
    = read_only.input :email, read_only_params.dup #dup required, formtastic adjusts params
    = read_only.input :phone, read_only_params.dup #dup required, formtastic adjusts params
