- content_for :styles do
  = stylesheet_link_tag 'compiled/welcome', :media => 'screen, projection'#, :cache => 'screen_cache'

.two_col

  #header
    %h1 Baltimore

  #content
    #guests
      =link_to 'Guests', welcome_path 
    #ambassador
      =link_to 'Ambassadors'
